<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <title>Editar Nota</title>
    <meta charset="UTF-8">
</head>
<body>
<h1>Editar Nota</h1>

<form th:action="@{'/edit-note/' + ${note.id}}" th:object="${note}" method="post">
    <label for="title">Título:</label>
    <input type="text" id="title" th:field="*{title}" /><br><br>

    <label for="content">Contenido:</label>
    <textarea id="content" th:field="*{content}"></textarea><br><br>

    <!-- SELECT para categoría -->
    <label for="categoria">Categoría:</label>
    <select id="categoria" th:field="*{categoria}">
        <option th:each="cat : ${allCategorias}"
                th:value="${cat.id}"
                th:text="${cat.name}"
                th:selected="${cat.id == note.categoria.id}">
        </option>
    </select>
    <br><br>

    <button type="submit">Guardar Cambios</button>
</form>

<p><a th:href="@{/list-notes}">Volver a la lista de notas</a></p>
</body>
</html>
